.heading{
  text-align: center;
  Color:white;
}

.eaLogo{
  position: absolute;
  position: -webkit-sticky;
  position: sticky;
  top: 10px;
  left: 1vw;
  color:black;
}


.div1{
  background-color:rgb(0, 0, 0);
}

.div2{
  margin:auto;
  padding: 0.5vw;
  background-image: linear-gradient(rgb(4, 14, 17), rgb(4, 21, 31));
  color:white;
  width:90%;
}

.div3{
  display: inline-block;
}

.heading3{
  border:.2vw solid white;
  border-radius: 30px;
  padding:.3vw;
}

.heading4{
  color:white;
  font-size: 1.3vw;
  font-family: Monaco;
}

.heading5{
  color:white;
  font-size: 1.65vw;
  font-family: Monaco;
}

.heading6{
  border: .3vw solid white;
  border-radius: 5px;
  padding:.3vw;
}


