.heading{
  text-align: center;
  Color:white;
}

hr.new5 {
  border: .15vw solid #B6D5D3;
  border-radius: 5vw;
}

.eaLogo{
  position: absolute;
  position: -webkit-sticky;
  position: sticky;
  top: 10px;
  left: 1vw;
  color:black;
}


.div1{
  background-color:rgb(0, 0, 0);
  position: absolute;
  position: -webkit-sticky;
  position: sticky;
}

.div2{
  margin:auto;
  padding: 0.5vw;
  background-image: linear-gradient(rgb(4, 14, 17), rgb(4, 21, 31));
  color:white;
  width:90%;
}

.div3{
  display: inline-block;
}

.heading3{
  border:.2vw solid white;
  border-radius: 30px;
  padding:.5vw;
}


.heading4{
  color:#EAF2F8;
  font-size: 1.4vw;
  font-family: Monaco;
}
@media only screen and (max-width: 600px){
  .heading4{
    font-size: 1.6vw;;
  }
}

.heading5{
  color:#EAF2F8;
  font-size: 1.65vw;
  font-family: Monaco;
}
@media only screen and (max-width: 600px){
  .heading5{
    font-size: 1.75vw;;
  }
}

.heading6{
  border: .3vw solid white;
  border-radius: 5px;
  padding:.5vw;
  color:#EAF2F8;
}
@media only screen and (max-width: 900px){
  .heading6{
    display:none;
  }
}


/* these two media hide href for words */
@media only screen and (max-width: 900px){
  a[href="https://elrond-apes-holders-map.vercel.app"]{
    display:none;
  }
}

@media only screen and (max-width: 900px){
  a[href="https://app.elrondapes.com"]{
    display:none;
  }
}



.heading6Good{
  border: .3vw solid white;
  border-radius: 5px;
  padding:.5vw;
  color:#EAF2F8;
}


.chart{
  width: 45%;
  height: 400px;
  padding:2%;
  float:left;
}
@media only screen and (max-width: 1200px){
  .chart{
    width: 500px;
    height: 250px;
    float:left;
  }
}
@media only screen and (max-width: 800px){
  .chart{
    width: 400px;
    height: 400px;
    float:left;
    padding:5%;
  }
}
@media only screen and (max-width: 400px){
  .chart{
    width: 300px;
    height: 300px;
    float:left;
    padding:1%;
  }
}


.chart1{
  width: 45%;
  height: 400px;
  padding:2%;
  float:right;
}
@media only screen and (max-width: 1200px){
  .chart1{
    width: 500px;
    height: 250px;
    float:left;
  }
}
@media only screen and (max-width: 800px){
  .chart1{
    width: 400px;
    height: 400px;
    float:left;
    padding:5%;
  }
}
@media only screen and (max-width: 400px){
  .chart1{
    width: 300px;
    height: 300px;
    float:left;
    padding:1%;
  }
}

.button {
  display: inline-block;
  border-radius: 5px;
  background-image: linear-gradient(rgb(7, 31, 46), rgb(9, 45, 66));
  border: none;
  color: white;
  text-align: center;
  font-size: 2.5vw;
  padding: 15px;
  width: 20%;
  transition: all 0.5s;
  cursor: pointer;
  margin: 5px;
  font-family:Courier New;
  font-weight:bold;
}

.button span {
  cursor: pointer;
  display: inline-block;
  position: relative;
  transition: 0.5s;
}

.button span:after {
  content: '\00bb';
  position: absolute;
  opacity: 0;
  top: 0;
  right: -20px;
  transition: 0.5s;
}

.button:hover span {
  padding-right: 1vw;
}

.button:hover span:after {
  opacity: 1;
  right: 0;
}



/*Menu button
.MenuIcon{
  color:white;
  position: absolute;
  top: 8px;
  right: 16px;
  font-size: 1.55vw;
  font-family: "Courier New";
}*/

.MenuIcon {
  color:red;
  font-size: 3.6vw;
  font-family: "Courier New";
}

@media only screen and (min-width: 900px){
  .MenuIcon{
    display:none;
  }
}

.dropdown {
  position: absolute;
  display: inline-block;
  top: 3vw;
  right: 7vw;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f1f1f1;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}


.dropdown-content a:hover {background-color: #ddd;}

.dropdown:hover .dropdown-content {display: block;}

.dropdown:hover .MenuIcon {background-color: blue}

.arrow {
  border: solid white;
  border-width: 0 3px 3px 0;
  display: inline-block;
  padding: .4vw;
}

.right {
  transform: rotate(-45deg);
  -webkit-transform: rotate(-45deg);
}



/*
.MenuIcon:hover{
  background-color: yellow;
}
*/
