.heading{
  text-align: center;
  Color:white;
}

.eaLogo{
  position: absolute;
  position: -webkit-sticky;
  position: sticky;
  top: 10px;
  left: 1vw;
  color:black;
}


.div1{
  background-color:rgb(0, 0, 0);
  position: absolute;
  position: -webkit-sticky;
  position: sticky;
}

.div2{
  margin:auto;
  padding: 0.5vw;
  background-image: linear-gradient(rgb(4, 14, 17), rgb(4, 21, 31));
  color:white;
  width:90%;
}

.div3{
  display: inline-block;
}

.heading3{
  border:.2vw solid white;
  border-radius: 30px;
  padding:.3vw;
}

.heading4{
  color:white;
  font-size: 1.3vw;
  font-family: Monaco;
}

.heading5{
  color:white;
  font-size: 1.65vw;
  font-family: Monaco;
}

.heading6{
  border: .3vw solid white;
  border-radius: 5px;
  padding:.3vw;
}

.chart{
  width: 45%;
  height: 400px;
  padding:2%;
  float:left;
}
@media only screen and (max-width: 1200px){
  .chart{
    width: 500px;
    height: 250px;
    float:left;
  }
}
@media only screen and (max-width: 800px){
  .chart{
    width: 400px;
    height: 400px;
    float:left;
    padding:5%;
  }
}
@media only screen and (max-width: 400px){
  .chart{
    width: 300px;
    height: 300px;
    float:left;
    padding:2%;
  }
}


.chart1{
  width: 45%;
  height: 400px;
  padding:2%;
  float:right;
}
@media only screen and (max-width: 1200px){
  .chart1{
    width: 500px;
    height: 250px;
    float:left;
  }
}
@media only screen and (max-width: 800px){
  .chart1{
    width: 400px;
    height: 400px;
    float:left;
    padding:5%;
  }
}
@media only screen and (max-width: 400px){
  .chart1{
    width: 300px;
    height: 300px;
    float:left;
    padding:2%;
  }
}

