.heading{
  text-align: center;
  Color:white;
}
 
.EGLDgif img{
  max-height: 3vw;
  max-width: 3vw;
}

hr.new5 {
  border: .15vw solid #B6D5D3;
  border-radius: 5vw;
}

.eaLogo{
  position: absolute;
  position: -webkit-sticky;
  position: sticky;
  top: 10px;
  left: 1vw;
  color:black;
}


.div1{
  background-color:rgb(0, 0, 0);
  position: absolute;
  position: -webkit-sticky;
  position: sticky;
}

.div2{
  margin:auto;
  padding: 0.5vw;
  background-image: linear-gradient(rgb(4, 14, 17), rgb(4, 21, 31));
  color:white;
  width:90%;
}

.div3{
  display: inline-block;
}

.heading3{
  border:.2vw solid #D1E8F8;
  border-radius: 30px;
  padding:.5vw;
}

.GeneralOverview{
  font-size: 3vw; 
  font-family: 'Courier New'; 
  text-decoration: underline;
}
@media only screen and (max-width: 600px){
  .GeneralOverview{
    font-size: 3.5vw;
  }
}

/*for small mobile screens*/

/*NEED TO FIX FOR SMALL SCREENS*/
@media only screen and (max-width: 590px){
  .GeneralOverview{
    font-size: 3.8vw;
  }
}

.heading4{
  color:#EAF2F8;
  font-size: 1.4vw;
  font-family: Monaco;
}
@media only screen and (max-width: 600px){
  .heading4{
    font-size: 1.75vw;
  }
}

.heading5{
  color:#EAF2F8;
  font-size: 1.65vw;
  font-family: Monaco;
}
@media only screen and (max-width: 600px){
  .heading5{
    font-size: 1.95vw;;
  }
}

.heading6{
  border: .3vw solid #D1E8F8;
  border-radius: 5px;
  padding:.5vw;
  color:#EAF2F8;
}
@media only screen and (max-width: 900px){
  .heading6{
    display:none;
  }
}


/* these two media hide href for words */
@media only screen and (max-width: 900px){
  a[href="https://elrond-apes-holders-map.vercel.app"]{
    display:none;
  }
}

@media only screen and (max-width: 900px){
  a[href="https://app.elrondapes.com"]{
    display:none;
  }
}



.heading6Good{
  border: .3vw solid #D1E8F8;
  border-radius: 5px;
  padding:.5vw;
  color:#EAF2F8;
}

.FpChart{
  width: 900px;
  height: 600px;
  padding:2%;
  float:left;
}

@media only screen and (max-width: 1200px){
  .FpChart{
    width: 700px;
    height: 450px;
    float:left;
  }
}
@media only screen and (max-width: 800px){
  .FpChart{
    width: 600px;
    height: 350px;
    float:left;
  }
}
@media only screen and (max-width: 400px){
  .FpChart{
    width: 500px;
    height: 300px;
    float:left;
    padding:1%;
  }
}


.chart{
  width: 45%;
  height: 400px;
  padding:2%;
  float:left;
}
@media only screen and (max-width: 1200px){
  .chart{
    width: 500px;
    height: 250px;
    float:left;
  }
}
@media only screen and (max-width: 800px){
  .chart{
    width: 400px;
    height: 400px;
    float:left;
    padding:5%;
  }
}
@media only screen and (max-width: 400px){
  .chart{
    width: 300px;
    height: 300px;
    float:left;
    padding:1%;
  }
}


.chart1{
  width: 45%;
  height: 400px;
  padding:2%;
  float:right;
}
@media only screen and (max-width: 1200px){
  .chart1{
    width: 500px;
    height: 250px;
    float:left;
  }
}
@media only screen and (max-width: 800px){
  .chart1{
    width: 400px;
    height: 400px;
    float:left;
    padding:5%;
  }
}
@media only screen and (max-width: 400px){
  .chart1{
    width: 300px;
    height: 300px;
    float:left;
    padding:1%;
  }
}



.button {
  display: inline-block;
  border-radius: 20px;
  background-image: linear-gradient(rgb(7, 31, 46), rgb(9, 45, 66));
  border: none;
  color: white;
  text-align: center;
  font-size: 2.2vw;
  padding: 8px;
  width: 20%;
  transition: all 0.5s;
  cursor: pointer;
  margin: 5px;
  font-family:Courier New;
  font-weight:bold;
}

.button span {
  cursor: pointer;
  display: inline-block;
  position: relative;
  transition: 0.5s;
}

.button span:after {
  content: '\00bb';
  position: absolute;
  opacity: 0;
  top: 0;
  right: -20px;
  transition: 0.5s;
}

.button:hover span {
  padding-right: 1vw;
}

.button:hover span:after {
  opacity: 1;
  right: 0;
}



/*Menu button
.MenuIcon{
  color:white;
  position: absolute;
  top: 8px;
  right: 16px;
  font-size: 1.55vw;
  font-family: "Courier New";
}*/

.MenuIcon {
  background-color: white;
  color:black;
  font-weight: bold;
  font-size: 2.5vw;
  font-family: "Courier New";
}

@media only screen and (min-width: 900px){
  .MenuIcon{
    display:none;
  }
}

.dropdown {
  position: absolute;
  display: inline-block;
  top: 3vw;
  right: 12vw;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #385E7A;
  min-width: 160px;
  box-shadow: 0vw 1vw 16px 0px #587C98;
  z-index: 1;
  font-size: 2vw;
  font-family: "Courier New";
}
@media only screen and (max-width: 500px){
  .dropdown-content{
    font-size: 2.5vw;
  }
}
@media only screen and (max-width: 500px){
  .dropdown{
    right: 15vw;
  }
}


.dropdown-content a {
  color: white;
  padding: 1vw 5px;
  text-decoration: none;
  display: block;
}

.dropdown:hover .MenuIcon {color:white;}

.dropdown-content a:hover {background-color: #2C495E;}

.dropdown:hover .dropdown-content {display: block;}

.dropdown:hover .MenuIcon {background-image: linear-gradient(rgb(9, 43, 65), rgb(12, 59, 87));}

.arrow {
  border: solid white;
  border-width: 0 .3vw .3vw 0;
  display: inline-block;
  padding: .5vw;
}

.right {
  transform: rotate(-45deg);
  -webkit-transform: rotate(-45deg);
}

/*
this is p, hidden element
*/
.PageBreakers{
  float:left;
  color:#EAF2F8;
  font-family: 'Courier New';
  font-size: 2.5vw;
  margin-left:2%;
  font-weight: bold;
}
@media only screen and (max-width: 600px){
  .PageBreakers{
    font-size: 2.8vw;
  }
}

.PageBreakers1{
  float:left;
  color:#EAF2F8;
  font-family: 'Courier New';
  font-size: 2vw;
  margin-left:5%;
  font-weight: bold;
}


/*
.NewClassForPieChart{
  float:left;
  width:55vw;
  height:55vw;
}

.TableToFloatRight{
  float: right;
}
*/



.NewClassForPieChart{
  width: 700px;
  height: 700px;
  float:left;
}


.NewClassForPieChartAddressOnly{
  width: 700px;
  height: 700px;
  float:left;
}


@media only screen and (max-width: 1416px){
  .NewClassForPieChart{
    width: 600px;
    height: 600px;
  }
  .NewClassForPieChartAddressOnly{
    width: 600px;
    height: 600px;
  }
}
@media only screen and (max-width: 1216px){
  .NewClassForPieChart{
    width: 500px;
    height: 500px;
  }
  .NewClassForPieChartAddressOnly{
    width: 500px;
    height: 500px;
  }
}
@media only screen and (max-width: 1016px){
  .NewClassForPieChart{
    width: 400px;
    height: 400px;
  }
  .NewClassForPieChartAddressOnly{
    width: 400px;
    height: 400px;
  }
}
@media only screen and (max-width: 816px){
  .NewClassForPieChart{
    width: 350px;
    height: 350px;
  }
  .NewClassForPieChartAddressOnly{
    width: 350px;
    height: 350px;
  }
}
@media only screen and (max-width: 716px){
  .NewClassForPieChart{
    width: 300px;
    height: 300px;
  }
  .NewClassForPieChartAddressOnly{
    width: 300px;
    height: 300px;
  }
}
@media only screen and (max-width: 616px){
  .NewClassForPieChart{
    width: 400px;
    height: 400px;
  }
  .NewClassForPieChartAddressOnly{
    width: 400px;
    height: 400px;
  }
}
